h3 {
  color: aqua;
  text-align: right;
}

.test_class {
  color: brown;
  text-align: left;
}

#test_id {
  color: chartreuse;
  text-align: center;
  width: 300px;
  height: 50px;
  padding: 5px;
  border: 5px dashed gray;
  margin: 5px;
}
